body {
  background-color: black;
  font-family: 'Trebuchet MS', sans-serif;
  margin-left: 50px;
  color: white;
}
h1 {
  color: DodgerBlue;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
